<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="rpgforge" version="3">
  <MenuBar>
    <Menu name="file">
      <text>&amp;File</text>
      <Action name="file_new"/>
      <Action name="file_open"/>
      <Separator/>
      <Action name="project_new"/>
      <Action name="project_open"/>
      <Action name="project_clone"/>
      <Action name="project_close"/>
      <Separator/>
      <Menu name="import" icon="document-import">
        <text>&amp;Import</text>
        <Action name="project_import_scrivener"/>
        <Action name="project_import_word"/>
      </Menu>
      <Action name="project_character_generator"/>
      <Separator/>
      <Action name="file_save"/>
      <Action name="file_save_as"/>
      <Separator/>
      <Action name="project_settings"/>
      <Separator/>
      <Action name="compile_project"/>
      <Separator/>
      <Action name="file_quit"/>
    </Menu>
    <Menu name="view">
      <Action name="toggle_preview"/>
      <Action name="project_preview_mode"/>
      <Action name="focus_mode"/>
    </Menu>
    <Menu name="ai">
      <text>&amp;AI Assistant</text>
      <Action name="ai_expand"/>
      <Action name="ai_rewrite"/>
      <Action name="ai_summarize"/>
    </Menu>
    <Menu name="settings">
      <text>&amp;Settings</text>
      <Action name="project_settings"/>
      <Separator/>
      <Action name="global_settings"/>
    </Menu>
    <Menu name="search" deleted="true"/>
  </MenuBar>
  <ToolBar name="mainToolBar">
    <text>Main Toolbar</text>
    <Action name="file_new"/>
    <Action name="file_open"/>
    <Action name="file_save"/>
    <Separator/>
    <Action name="project_open"/>
    <Action name="compile_project"/>
    <Separator/>
    <Action name="toggle_preview"/>
    <Action name="project_preview_mode"/>
    <Separator/>
    <Action name="focus_mode"/>
    <Spacer/>
    <Action name="toolbar_search"/>
  </ToolBar>
</gui>
